div:hover {
    border: solid 2px black;
    width: 300px;
}
div:nth-of-type(1) {
    background-color: cyan;
    width: 300px;
    
}
div:nth-of-type(2) {
    background-color: darkblue;
    width: 300px;
    color: rgb(130, 238, 233);
}
div:nth-of-type(3) {
    background-color: rgb(137, 139, 0);
    width: 500px;
    font-size: 20px;
    
}
div:nth-of-type(4) {
    background-color: rgb(80, 9, 9);
    width: 300px;
    color: white;
}
div:nth-of-type(5) {
    background-color: rgb(170, 245, 180);
    width: 300px;
}
div:nth-of-type(odd){
    font-style: italic;
} 